# Database configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka configuration
KAFKA_BROKER=kafka:9092
KAFKA_ZOOKEEPER=zookeeper:2181
KAFKA_PORT=9092

# JWT configuration
JWT_SECRET=change-me

# API
API_PORT=8080
